!SO/
!SO/**
!*.txt

# Ignore general binary and intermediate files
*.elf
*.hex
*.map
*.o
*.sym
*.vpp*
*.bak*

# Dependency files
*.d

# Object files
*.ko
*.obj
*.o
*.elf

# Linker output files
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (Linux & Windows shared libraries)
*.dll
*.so
*.so.*
*.dylib

# Executable files
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel module compile results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python cache files
**/__pycache__/
*.py[cod]

